@model UserListRowDTO
@{
}


@using (Html.BeginForm(actionName:"AddBankAccPermission",controllerName:"Users", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserId)
        <div class="form-group">
        @Html.LabelFor(model => model.BankAccPermissionAdd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BankAccPermissionAdd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BankAccPermissionAdd, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" value="Əlavə Et" class="btn btn-success" />
</div>
}



<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Bank Hesab Kodu </th>
        <th>Bank Hesab Adı </th>
        <th></th>
    </tr>
    @foreach (var d in Model.BankAccounts)
    {
<tr>
    <td>@d.AccountCode</td>
    <td>@d.AccountName</td>
    <td>@using (Html.BeginForm(actionName: "DeleteBankAccPermission",controllerName: "Users", method: FormMethod.Post,routeValues: new Dictionary<string, object> { { "userId",Model.UserId },{ "BankAccCode",d.AccountCode } }))
                {  <input type="submit" value="Sil">
    }
    </td>
</tr>

    }
</table>