@model LoginDTO

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutFullScreen";
    var returnUrl = @Context.Request.Query["returnurl"];
}

 <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Log In</title>
    <style>
        body{
	background: #383a3d;
	padding-top: 25vh;	
}
/* set form background colour*/
form{
	background: #fff;
}
/* set padding and size of th form */
.form-container{
	border-radius: 10px;
	padding: 30px;
}
    </style>
</head>
<body>
      <section class="container-fluid">
    <!-- row and justify-content-center class is used to place the form in center -->
    <section class="row justify-content-center">
      <section class="col-12 col-sm-6 col-md-4">
        <form class="form-container" method="post">
        <div class="form-group">
          <h4 class="text-center font-weight-bold"> Login </h4>
          @*@Model.Msg*@
          @Html.LabelFor(model => model.Username)
          @Html.TextBoxFor(model => model.Username,null,new { @class= "form-control"})
        </div>
        <div class="form-group">
          @Html.LabelFor(model => model.Password)
          @Html.PasswordFor(model => model.Password,new { @class= "form-control"})
        </div>
        <button type="submit" class="btn btn-primary btn-block">Daxil ol</button>
        <div class="form-footer">
          @*<p> Don't have an account? <a href="#">Sign Up</a></p>*@
        </div>
        </form>
      </section>
    </section>
  </section>

</body>
</html>
