@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model TigerProductListDTO
@{
}

    <form method="post">
        <div class="card" style="width: 100%;">
        <div class="card-title"><h5 class="card-title">Məhsullar</h5></div>
        <div class="card-body d-flex">
        
             <select name="branches" asp-for="SelectedBranch" id="branches" class="form-control pr-1" asp-items="@((ViewBag.branches as IEnumerable<SuperfonMobileAPI.Models.Entities.TigerBranch>).Select(x=> new SelectListItem { Value = x.BranchNumber.ToString(), Text = x.BranchName  }) )"></select>
            <input id="myInput" type="text" placeholder="Axtar.." asp-for="Text">
        
        </div>
        </div>
    </form>
    <div class="col-md-12">
         <table id="productsTable" class="table table-bordered table-responsive table-hover" style="width:100%">
        <thead>
            <tr>
                    <th>Məhsul Kodu</th>
                    <th class="w-100">Məhsul Adı</th>
                    <th>Barkod</th>
                    <th>Çap</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductCode</td>
                    <td>@product.ProductName</td>
                    <td>@product.Barcode</td>
                    <td><button id="btnPrint" onclick="doPrint('@product.ProductCode','@product.ProductName','@product.Barcode')" class="btn btn-primary " data="@product"><i class="bi bi-printer-fill"></i></button></td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <script type="text/javascript">
            //$(document).ready(function () {
            //    $('#productsTable').DataTable();
           
            //});
             function doPrint(prcode,prname,barcode) {
                 window.open("/product-price-print?branch="+$('#branches').val() + "&barcode="+barcode)}
    </script>